.header-container {
    width:100%;
    height: 550px;
    background: url('/assets/static/images/hero-background.jpg');
    background-position: center;
    background-size:cover;
    margin-top: -100px;
  }
  .header-container h1 {
    color:white;
    padding: 50px;
    padding-top: 170px;
  }
  
  #header-img {
    width: 100%;
    height: auto;
  }